body {
  background-image: url('backgroundice.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-left: 1em;
  background-color: white;
}
