@import url(//db.onlinewebfonts.com/c/13c63232af298878387142e0da62c96f?family=Fixedsys+Excelsior+3.01);

body {
  min-height: 100vh;
  background-image: url('/images/background.png');

  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-left: 1em;
  background-color: white;
}

@font-face {
  font-family: 'fixedsys';
  src: url('//db.onlinewebfonts.com/t/13c63232af298878387142e0da62c96f.eot');
  src: url('//db.onlinewebfonts.com/t/13c63232af298878387142e0da62c96f.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/13c63232af298878387142e0da62c96f.woff2') format('woff2'),
    url('//db.onlinewebfonts.com/t/13c63232af298878387142e0da62c96f.woff') format('woff'),
    url('//db.onlinewebfonts.com/t/13c63232af298878387142e0da62c96f.ttf') format('truetype'),
    url('//db.onlinewebfonts.com/t/13c63232af298878387142e0da62c96f.svg#Fixedsys Excelsior 3.01')
      format('svg');
}

#font {
  font-family: 'fixedsys';
}
