body {
  background-image: url('backgroundice.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  vertical-align: center;
  height: 1000px;
  width: 100%;
}
